:root {
    --primary: #A27B5C;
    --bg: #2C3639;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body {
    font-family: 'Poppins',sans-serif;
    background-color: var(--bg);
    color: #DCD7C9;
}
.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    background: linear-gradient(0deg,
    rgba(44, 54, 57,1)3%,rgba(44, 54, 57,0)50%);
}
.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}
.hero .content h1 {
    font-size: 5em;
    color: #DCD7C9;
    text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
    line-height: 1.2;
}
.hero .content h1 span {
    color: var(--primary);
}
.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
    mix-blend-mode: difference;
}
.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #DCD7C9;
    background-color: var(--bg);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1,1,3,0.5);
}
.about ,
.skill ,
.kontak {
    padding: 1.7rem 7% 1.4rem;
    color: #DCD7C9;
}
.about h2 , 
.skill h2 ,
.portofolio h2 ,
.kontak h2 ,
.contanier {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}
.about h2 span ,
.skill h2 span ,
.portofolio h2 span ,
.kontak h2 span
.container h2 span {
    color: var(--primary);
}
.about .row {
    display: flex;
}
.about .row .about-image {
    flex: 1 1 10rem;
}
.about .row .about-image img {
    width: 100%;
}
.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
    margin-top: 1rem;
    font-size: 2rem;
}
.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 1.6;
}
.skill {
    margin-top: 100px;
    padding-top: 50px;
}
.skill p ,
.portofolio p ,
.kontak p{
    text-align: center;
    margin: auto;
    max-width: 30rem;
    font-weight: 100;
    line-height: 1.6;
}
.skill .rows {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}
.skill .rows .skill-kartu {
    text-align: center;
}
.skill .rows .skill-kartu img {
    width: 70%;
    border-radius: 25px;
}
.skill .rows .skill-kartu .card-tittle {
    margin-top: 1.2rem auto 1rem;
    color: var(--primary);
}
.portofolio {
    margin-top: 10rem;
}
.portofolio h6 ,
.portofolio h3{
    padding: 1.4rem 7%;
    max-width: 60rem;
    font-size: 1.6rem;
    line-height: 1.4;
    text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
}
.portofolio h3 span {
    color: var(--primary);
    font-size: 4rem;
}
.portofolio h3 {
    font-size: 4rem;
}
.roc {
    display: flex;
}
.kontak .roc {
    display: flex;
    margin-top: 2rem;
    background-color: #374246;
    flex-wrap: wrap;
    align-items: center;
}
.kontak .roc .map {
    flex: 1 1 50rem;
    width: 80%;
    object-fit: cover;
}
footer {
    background-color: var(--primary);
    color: #DCD7C9;
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}
footer .medsos {
    padding: 1rem 0;
}
#kontak {
    background-color: var(--bg);
    padding: 40px 0;
    text-align: center;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .contact-info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .info-item {
    margin: 0 20px;
    text-align: center;
  }
  
  .info-item img {
    width: 50px;
    height: 50px;
  }
  
  .info-item p {
    margin-top: 10px;
    font-size: 16px;
  }
  .links {
    color: #DCD7C9;
  }
  html{
    scroll-behavior: smooth;
  }